/* Estilo para os ícones de redes sociais */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espaçamento entre os ícones */
    margin-top: 20px; /* Espaçamento acima dos ícones */
}
.social-icons a {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Efeito suave ao passar o mouse */
}
.social-icons a:hover {
    transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
    opacity: 0.8; /* Diminui a opacidade para destacar */
}
.social-icons img {
    width: 30px; /* Tamanho fixo para os ícones */
    height: auto;
    border-radius: 0px; /* Borda arredondada (opcional) */
}